.container {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: 90vh 10vh;
}

.logo {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    background-color: #AA0000;
}

.button {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    background-color: #AA0000;
}

#image {
    display: none;
}

#logo {
    width: 80%;
    position: relative;
    top: 25vh;
}

.button a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Rekha;
    cursor: pointer;
}

/* Eliminando partes desnecessárias */

header {
    display: none;
}

aside {
    display: none;
}

footer {
    display: none;
}

#menu {
    display: none;
}

nav {
    display: none;
}


@media (min-width: 850px){

    .image {
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(../images/Pizza1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        background-color: #AA0000;
    }

    .button {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        background-color: #AA0000;
    }
    
}