body {
    background-image: url(../images/Pizza2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    display: flex;
    position: relative;
    text-align: center;
    margin: 55px auto;
}

.menu {
    position: fixed;
    top: 150px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-family: Helvetica, sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}

#index {
    display: inline-block;
    margin: 0 15px;
}

#quemsomos {
    display: inline-block;
    margin: 0 15px;
}

#precos {
    display: inline-block;
    margin: 0 15px;
    margin-right: 350px;
}

#pedido {
    display: inline-block;
    margin: 0 15px;
    margin-left: 150px;
}

#cliente {
    display: inline-block;
    margin: 0 15px;
}

#contato {
    display: inline-block;
    margin: 0 15px;
}


#About {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin: 10px 0;
    top: 80px;
}

#About-text {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
    top: 80px;
}

#line {
    position: relative;
    background-color: #FFF;
    height: 1px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
}

.MVV {
    text-align: center;
}

.box {
    position: relative;
    box-sizing: border-box;
    width: 350px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 250px;
}

#Mission {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin: 10px 0;
}

#Mission-text {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
}

#Vision {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin: 10px 0;
}

#Vision-text {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
}

#Values {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin: 10px 0;
}

#Values-text {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
}