body {
    background-image: url(../images/Pizza2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    display: flex;
    position: relative;
    text-align: center;
    margin: 55px auto;
}

#About {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    text-align: left;
    margin: 10px 0;
    top: 30px;
    left: 50px; 
}

#About-text {
    font-family: Helvetica, sans-serif;
    color: #FFF;
    font-size: 1.3rem;
    position: relative;
    text-align: left;
    top: 35px;
    left: 50px; 
}