::selection {
    background: #444444;
}
::-moz-selection {
    background: #444444;
}



/* Fundo */

body {
    background-image: url(../images/Pizza2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    display: flex;
    position: relative;
    text-align: center;
    margin: 55px auto;
}



/* Menu de navegação */

.menu {
    position: fixed;
    top: 150px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-family: Helvetica, sans-serif;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

#index {
    display: inline-block;
    margin: 0 15px;
}

#whoweare {
    display: inline-block;
    margin: 0 15px;
}

#prices {
    display: inline-block;
    margin: 0 15px;
    margin-right: 380px;
}

#order {
    display: inline-block;
    margin: 0 15px;
}

#client {
    display: inline-block;
    margin: 0 15px;
}

#contact {
    display: inline-block;
    margin: 0 15px;
    margin-right: 65px;
}



/* Conteúdo */

main {
    width: 1200px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: Helvetica, sans-serif;
    color: #FFF;
    display: inline-block;
}

#part-one {
    width: 550px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

#part-two{
    width: 500px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    margin-left: 9rem;
}

form label {
    font-size: 1.3rem;
}

main h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 30px 0;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 30px;
    margin-top: -60px;
}

input, select, textarea {
	background-color: #FFF;
	padding: 5px;
    border: 0;
	border-radius: 15px;
    margin-bottom: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
}

input:focus, select:focus, textarea:focus {
	background-color: #FFF;
    outline: none;
}

input[type=submit], input[type=reset]{
    font-size: 1.1rem;
	background-color: #333333;
	padding: 5px;
    width: 100px;
    height: 40px;
	border: 0;
    border-radius: 35px;
    margin-top: 10px;
    margin-right: 20px;
	color: #FFF;
    font-weight: bold;
}

input[type=submit]:hover, input[type=reset]:hover{
	background-color: #444444;
	border: 0;
}

#name {
    width: 86%;
}

#email {
    width: 85.4%;
}

#fone {
    width: 85.2%;
}

#db {
    width: 25%;
}

#password1 {
    width: 79.6%;
}

#password2 {
    width: 59.3%;
}

#state {
    width: 87.4%;
}

#city {
    width: 89.6%;
}

#aaddress {
    width: 82.3%;
}

#district {
    width: 84.7%;
}

#comments {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}



/* Radio */

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border-radius: 50%;
}

.radio:hover input ~ .option {
  background-color: #ddd;
}

.radio input:checked ~ .option {
  background-color: #444444;
}

.option:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .option:after {
  display: block;
}

.radio .option:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* Checkbox */

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -6.5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFF;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ddd;
}

.checkbox input:checked ~ .checkmark {
    background-color: #444444;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 



/* Anúncios */

aside {
    position: fixed;
    bottom: 180px;
    right: 40px;
}

#anuncio1 {
    position: relative;
    padding: 60px 40px;
    background-color: #cccccc;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: 	#333333;
    text-align: center;
    bottom: 50px;

}

#anuncio2 {
    position: relative;
    padding: 70px 40px;
    background-color: #cccccc;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: 	#333333;
    text-align: center;
}

.tittle {
    font-weight: bold;
    font-size: 1.8rem;
}



/* Rodapé */

footer {
    position: fixed;
    display: inline-block;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #cccccc;
}

footer a {  
    color: #333333;
    text-decoration: none;
}

#loc, #phone, #face, #insta, #whats {
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 40px;
} 

#address, #number {
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 1.2rem;
    font-family: Helvetica, sans-serif;
}

#whats {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

#insta {
    position: absolute;
    right: 90px;
    bottom: 20px;
}

#face {
    position: absolute;
    right: 150px;
    bottom: 20px;
}

#number {
    position: absolute;
    left: 650px;
    bottom: 30px;
}

#phone {
    position: absolute;
    left: 600px;
    bottom: 20px;
}

#address {
    position: absolute;
    left: 75px;
    bottom: 30px;
}

#loc {
    position: absolute;
    left: 30px;
    bottom: 20px;
}