/* Geral */

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh 3vh minmax(1vh, auto) minmax(60vh, auto) minmax(60vh, auto) minmax(5vh, auto) minmax(5vh, auto) minmax(5vh, auto);
}

body {
    background-color: #AA0000;
}

.image {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../images/Pizza2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    grid-column: 1/2;
    grid-row: 3/4;
    display: none;
}

main {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 40px 40px;
    font-family: Helvetica, sans-serif;
    color: #FFF;
}

aside {
    grid-column: 1/2;
    grid-row: 5/6;
}

footer {
    grid-column: 1/2;
    grid-row: 6/9;
    background-color: #cccccc;
    text-align: center;
}



/* Menu */

.menu {
    position: relative;  
    top: 3vh;
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

nav li {
    margin: 10px;
}

#menu {
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #FFF;
    cursor: pointer;
    margin: 20px;
}



/* Logo */

header {
    grid-column: 1/2;
    grid-row: 1/3;
    text-align: center;
}

#logo {
    position: relative;
    top: 5vh;
    width: 200px;
}



/* Conteúdo */

.conteudo {
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(15vh, auto) 5vh minmax(15vh, auto) minmax(15vh, auto) minmax(25vh, auto);
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #FFF;
}

.boxabout {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px;
}

#line {
    grid-column: 1/2;
    grid-row: 2/3;  
    height: 1px;
    width: 90%;
    margin: 30px auto;
    background-color: #FFF;
}

.boxmission {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 20px;
}

.boxvision {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 20px;
}

.boxvalues {
    grid-column: 1/2;
    grid-row: 5/6;
    padding: 20px;
}

#About, #Mission, #Vision, #Values {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
}

#About-text, #Mission-text, #Vision-text, #Values-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
}


/* Formulários */

fieldset legend, main legend {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 50px;
}

fieldset label {
    font-size: 1.3rem;
}

form label {
    font-size: 1.3rem;
}

.text {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

input, select, textarea {
	background-color: #FFF;
	padding: 5px;
    border: 0;
	border-radius: 15px;
    margin-bottom: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
}

input:focus, select:focus, textarea:focus {
	background-color: #FFF;
    outline: none;
}

input[type=submit], input[type=reset]{
    font-size: 1.1rem;
	background-color: #333333;
	padding: 5px;
    width: 100px;
    height: 40px;
	border: 0;
    border-radius: 35px;
    margin-top: 10px;
    margin-right: 20px;
	color: #FFF;
    font-weight: bold;
}

input[type=submit]:hover, input[type=reset]:hover{
	background-color: #444444;
	border: 0;
}

#register a{
    color: #FFF;
}

#register{
    font-size: 1.1rem;
    margin-top: 30px;
}

#email {
    width: 95%;
}

#password {
    width: 95%;
}

#name {
    width: 95%;
}

#fone {
    width: 95%;
}

#subject {
    width: 95%;
}

#msg {
    width: 95%;
    height: 150px;
    margin: 5px 0;
}

#db {
    width: 95%;
}

#password1 {
    width: 95%;
}

#password2 {
    width: 95%;
}

#state {
    width: 95%;
}

#city {
    width: 95%;
}

#aaddress {
    width: 95%;
}

#district {
    width: 95%;
}

#comments {
    width: 95%;
    height: 100px;
    margin-top: 10px;
}

iframe {
    width: 95%;
}



/* Anúncios */

.ad {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: 	#333333;
    text-align: center;
    background-color: #cccccc;
    margin: 40px 40px;
    top: 40;
}

#ad1 {
    padding: 60px 40px;
}

#ad2 {
    padding: 70px 40px;
}

.t_ad {
    font-weight: bold;
    font-size: 1.8rem;
}



/* Rodapé */

footer .part-one {
    grid-column: 1/2;
    grid-row: 6/8;
    position: relative;
}

footer .part-two {
    grid-column: 1/2;
    grid-row: 8/9;
    position: relative;
}

footer div, footer address {
    position: relative;
    display: inline-block;
    color: #333333;
    vertical-align: middle;
}

footer a {  
    color: #333333;
    text-decoration: none;
}

#loc, #phone, #face, #insta, #whats {
    font-size: 30px;
    margin: 5px 5px;
} 

#address, #number {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    margin-right: 40px;
}



/* Radio */

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border-radius: 50%;
}

.radio:hover input ~ .option {
  background-color: #ddd;
}

.radio input:checked ~ .option {
  background-color: #444444;
}

.option:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .option:after {
  display: block;
}

.radio .option:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* Checkbox */

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -6.5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFF;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ddd;
}

.checkbox input:checked ~ .checkmark {
    background-color: #444444;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 




@media (min-width: 1080px){

    /* Geral */

    .container {
	    display: grid;
	    grid-template-columns: minmax(5fr, auto) 1fr;
	    grid-template-rows: 12vh 5vh minmax(75vh, auto) 8vh;
    }

    .image {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    nav {
        grid-column: 1/3;
        grid-row: 2/3; 
        display: block;
    }

    main {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 80px 80px;
    }

    aside {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer {
        grid-column: 1/3;
        grid-row: 4/5;
    }



    /* Menu */

    nav li {
        display: inline-block;
        margin: 0px 15px;
    }

    #prices {
        margin-right: 380px;
    }

    #contact {
        margin-right: 65px;
    }  

    #menu {
        display: none;
    }



    /* Logo */

    header {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #logo {
        width: 329px;
    }



    /* Conteúdo */

    .conteudo {
        display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 20vh 5vh 20vh;
    }

    .boxabout {
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 50px;
        margin: 0;
    }

    #line {
        grid-column: 1/4;
        grid-row: 2/3; 
        margin: 30px auto; 
    }

    .boxmission {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 50px;
        margin: 0;
    }

    .boxvision {
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 50px;
        margin: 0;
    }

    .boxvalues {
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 50px;
        margin: 0;
    }



    /* Anúncios */

    .ad {
        margin: 50px 40px;
        top: 60px;
    }



    /* Rodapé */

    footer .part-one {
        grid-column: 1/2;
        grid-row: 4/5;
        position: relative;
        text-align: left;
        margin-left: 30px;
    }

    footer .part-two {
        grid-column: 2/3;
        grid-row: 4/5;
        position: relative;
        text-align: left;
        margin-right: 30px;
    }

    #loc, #phone, #face, #insta, #whats {
        font-size: 40px;
        margin: 17px 5px;
    } 

    #address, #number {
        font-size: 1.2rem;
        margin-right: 40px;
    }

    #number {
        margin-right: 840px;
    }



    /* Formulários */


    #email {
        width: 37.5%;
    }

    #password {
        width: 35%;
    }

    #name {
        width: 37.7%;
    }

    #fone {
        width: 37.5%;
    }

    #subject {
        width: 37.4%;
    }

    #msg {
        width: 43%;
    }

    #db {
        width: 33.2%;
    }

    #password1 {
        width: 35%;
    }

    #password2 {
        width: 28.8%;
    }

    #state {
        width: 38.3%;
    }

    #city {
        width: 39.3%;
    }

    #aaddress {
        width: 36%;
    }

    #district {
        width: 37%;
    }

    #comments {
        width: 43%;
    }

    iframe {
        width: 43.5%;
        border-radius: 15px;
    }

}