/* Geral */

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh 3vh minmax(1vh, auto) minmax(60vh, auto) minmax(60vh, auto) minmax(5vh, auto) minmax(5vh, auto) minmax(5vh, auto);
}

body {
    background-color: #AA0000;
}

.image {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../images/Pizza2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    grid-column: 1/2;
    grid-row: 3/4;
    display: none;
}

main {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 40px 40px;
    font-family: Helvetica, sans-serif;
    color: #FFF;
}

aside {
    grid-column: 1/2;
    grid-row: 5/6;
}

footer {
    grid-column: 1/2;
    grid-row: 6/9;
    background-color: #cccccc;
    text-align: center;
    color: #333333;
    font-family: Helvetica, sans-serif;
}



/* Menu */

.menu {
    position: relative;  
    top: 3vh;
    width: 100%;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
}

.menu_mobile{
    color: #FFF;
    font-family: Helvetica, sans-serif;
    display: block;
}

.menu_web, .menu_admi {
    display: none;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

nav li {
    margin: 10px;
}

#menu {
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #FFF;
    cursor: pointer;
    margin: 20px;
}

#showMenu {
    display: block;
}



/* Logo */

header {
    grid-column: 1/2;
    grid-row: 1/3;
    text-align: center;
}

#logo {
    position: relative;
    top: 5vh;
    width: 200px;
}



/* Conteúdo */

.conteudo {
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(15vh, auto) 5vh minmax(15vh, auto) minmax(15vh, auto) minmax(25vh, auto);
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #FFF;
}

.welcome {
    width: 77.5vw;
}   

#welcome {
    font-size: 5vw;
    margin-top: 130px;
}

#BA {
    font-size: 15vw;
}

#pizzeria{
    font-size: 5vw;
    text-align: right;
}

.boxabout {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px;
}

#line {
    grid-column: 1/2;
    grid-row: 2/3;  
    height: 1px;
    width: 90%;
    margin: 30px auto;
    background-color: #FFF;
}

.boxmission {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 20px;
}

.boxvision {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 20px;
}

.boxvalues {
    grid-column: 1/2;
    grid-row: 5/6;
    padding: 20px;
}

#About, #Mission, #Vision, #Values {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
}

#About-text, #Mission-text, #Vision-text, #Values-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
}



/* Formulários */

fieldset legend, main legend {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

fieldset label {
    font-size: 1.3rem;
}

form label {
    font-size: 1.3rem;
}

#how {
    margin-top: 80px;
}

.text {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

input, select, textarea {
	background-color: #cccccc;
    color: #333333;
	padding: 5px;
    border: 0;
	border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
}

input:focus, select:focus, textarea:focus {
	background-color: #FFF;
    outline: none;
}

input[type=submit], input[type=reset]{
    font-size: 1.1rem;
	background-color: #333333;
	padding: 5px;
    width: 100px;
    height: 40px;
	border: 0;
    border-radius: 35px;
    margin-top: 10px;
    margin-right: 20px;
	color: #FFF;
    font-weight: bold;
}

input[type=submit]:hover, input[type=reset]:hover{
	background-color: #444444;
	border: 0;
}

#add {
    width: 120px;
}

#register a{
    color: #FFF;
}

#register{
    font-size: 1.1rem;
    margin-top: 30px;
}

#email, #password, #name, #fone, #subject, #db, #password1, #password2, #state, #city, #aaddress, #district, iframe {
    width: 95%;
}

#msg {
    width: 95%;
    height: 150px;
    margin: 5px 0;
}

#comments {
    width: 95%;
    height: 100px;
}

.warning {
    color: #FFF;   
    font-size: 1.3rem;
}

.error_form {
    margin-bottom: 10px;
    color: #cccccc;
}



/* Tabelas */

table {
    position: relative;
    top: 30px;
}

.tablePrice tr th {
    font-size: 1.3rem;
}

.tablePrice tr td {
    font-size: 1.1rem;
}

table tr th {
    font-size: 1.1rem; 
    border-bottom: 2px solid white;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

table tr td {
    font-size: 0.8rem; 
    border-bottom: 1px solid white;
    padding: 15px;
    padding-top: 30px;
    text-align: left;
    vertical-align: middle;
}

.buttonnew{
	background-color: #cccccc;
    width: 130px;
	border: 0;
	border-radius: 35px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
	cursor: pointer;    
}

.buttonnew a {
    color: #333333;
    font-size: 1rem; 
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

table a, a {
    color: #FFF;
}

.size {
    text-align: left;
}

.amount {
    text-align: center;
}

.price {
    text-align: right;
}

.action {
    text-align: center;
}



/* Pedido */

#carte{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
} 

#options_order p {
    font-size: 1.1rem;
    margin: 10px;
    margin-left: 0;
}

.flavor{
    min-width: 200px;
    max-width: 550px;
	padding: 5px 5px 5px 0;
    color: #333333;
	background-color: #cccccc;
	border: 1px solid #cccccc;
	margin: 5px;
    margin-right: 10px;
    margin-left: 0;
	transition: 0.5s; 
}

.flavor img{
	width: 80px;
	border-radius: 40px;
	margin: 0 20px 0 20px;
}
 
.flavor label{
	display: flex;
	align-items: center;
} 

.flavor_description{
	display: flex;
	flex-direction: column;
} 

.t_flavor {
    font-size: 1.3rem; 
    font-weight: bold;
    margin-bottom: 10px;
}

.i_flavor {
    font-size: 1.2rem;
}

.selected {
    background-color: #ffffff;
	transition: 1s;
}

#options_order {
    display: none;
}



/* Área do Clinte */

.myaccount h4 {
    font-size: 1.3rem;
    margin: 25px;
    margin-left: 0;
}

.myaccount p {
    font-size: 1.1rem;
    margin: 10px;
    margin-left: 0;
}



/* Anúncios */

.ad {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: 	#333333;
    text-align: center;
    background-color: #cccccc;
    margin: 40px 40px;
    top: 40;
}

#ad1 {
    padding: 60px 40px;
}

#ad2 {
    padding: 70px 40px;
}

.t_ad {
    font-weight: bold;
    font-size: 1.8rem;
}



/* Rodapé */

.footeradm {
    margin: 30px;
    font-family: Helvetica, sans-serif;
}

footer .part-one {
    grid-column: 1/2;
    grid-row: 6/8;
    position: relative;
}

footer .part-two {
    grid-column: 1/2;
    grid-row: 8/9;
    position: relative;
}

footer div, footer address, footer p {
    font-family: Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    color: #333333;
    vertical-align: middle;
}

footer a {  
    color: #333333;
    text-decoration: none;
}

#loc, #phone, #face, #insta, #whats {
    font-size: 30px;
    margin: 5px 5px;
} 

#address, #number {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    margin-right: 40px;
}

#doubts{
	display: none;	 
} 



/* Radio */

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cccccc;
  border-radius: 50%;
}

.radio:hover input ~ .option {
  background-color: #ffffff;
}

.radio input:checked ~ .option {
  background-color: #444444;
}

.option:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .option:after {
  display: block;
}

.radio .option:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* Checkbox */

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -6.5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cccccc;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ffffff;
}

.checkbox input:checked ~ .checkmark {
    background-color: #444444;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 


@media (min-width: 450px){

    /* Pedido */

    .flavor{
        width: 400px;	
    }

}


@media (min-width: 1080px){

    /* Geral */

    .container {
	    display: grid;
	    grid-template-columns: minmax(5fr, auto) 1fr;
	    grid-template-rows: 12vh 5vh minmax(75vh, auto) 8vh;
    }

    .image {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    nav {
        grid-column: 1/3;
        grid-row: 2/3; 
        display: block;
    }

    main {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 80px 80px;
    }

    aside {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer {
        grid-column: 1/3;
        grid-row: 4/5;
    }



    /* Menu */

    .menu_web {
        display: block;
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1.1rem;
        margin-top: 10px;
        margin-right: 40px;
        text-align: right;
    }   

    .menu_web i, .menu_web a {
        color: white;
    }

    .menu_admin {
        display: block;
    } 

    nav li {
        display: inline-block;
        margin: 0px 15px;
    }

    #prices, #clients {
        margin-right: 380px;
    }

    #contact {
        margin-right: 65px;
    }  

    #exit {
        margin-right: 130px;
    }

    #menu {
        display: none;
    }



    /* Logo */

    header {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #logo {
        width: 329px;
    }



    /* Conteúdo */

    .conteudo {
        display: grid;
    	grid-template-columns: 1fr 1fr 1fr;
    	grid-template-rows: 20vh 5vh 20vh;
    }

    .welcome {
        width: 46.5vw;
    }   

    #welcome {
        font-size: 3vw;
        margin-top: 130px;
    }

    #BA {
        font-size: 9vw;
    }

    #pizzeria{
        font-size: 3vw;
        text-align: right;
    }

    .boxabout {
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 50px;
        margin: 0;
    }

    #line {
        grid-column: 1/4;
        grid-row: 2/3; 
        margin: 30px auto; 
    }

    .boxmission {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 50px;
        margin: 0;
    }

    .boxvision {
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 50px;
        margin: 0;
    }

    .boxvalues {
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 50px;
        margin: 0;
    }



    /* Formulários */


    #email, #login, #fone, #password, #name, #subject, #msg, #db, #password1, #password2, #state, #city, #aaddress, #district, #comments, #ingred, #img {
        width: 50%;
    }

    iframe {
        width: 50%;
        border-radius: 15px;
    }



    /* Tabelas */

    .tablePrice {
        width: 500px;
    }

    .tablePrice tr th {
        font-size: 1.5rem;
    }

    .tablePrice tr td {
        font-size: 1.3rem;
    }

    table {
        width: 100%;
    }

    table tr th {
        font-size: 1.2rem;
    }

    table tr td, .buttonnew {
        font-size: 1rem;
    }

    .buttonnew a {
        font-size: 1.2rem; 
    }



    /* Pedido */

    .flavor{
        width: 550px;	
    }



    /* Anúncios */

    .ad {
        margin: 50px 40px;
        top: 20px;
    }



    /* Dúvidas */

    #doubts{
		color: white;
		background-color: #333333;
        font-family: Helvetica, sans-serif;
		width: 335px;
		height: 130px;
		position: fixed;
		bottom: 0;
		right: 40px;
		display: flex;	 
		align-items: flex-start;	
		justify-content: space-between;
		padding: 5px;		
	} 	

	#doubts .btHelp{
        color: #333333;
		background-color: #cccccc;
		padding: 2px 5px;
		margin: 3px;
		cursor: pointer;
	}

	#doubts #buttons{
		display: flex;
	}

    #text {
        margin: 10px;
    }



    /* Rodapé */

    footer .part-one {
        width: 75%;
        grid-column: 1/2;
        grid-row: 4/5;
        position: relative;
        text-align: left;
        margin-left: 30px;
    }

    footer .part-two {
        width: 15%;
        grid-column: 2/3;
        grid-row: 4/5;
        position: relative;
        text-align: right;
        margin-right: 30px;
    }

    #loc, #phone, #face, #insta, #whats {
        font-size: 40px;
        margin: 18px 0 5px 0;
    } 

    #address, #number {
        font-size: 1.2rem;
        margin-right: 40px;
    }
}